/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-ago-2022, 15.10.30
    Author     : pietrobongini
*/

.enableBlur>* {
  filter: blur(8px);
}

.disableBlur {
  filter: blur(0);
}
